.about_container {
  padding: 1px;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin-top: 4rem;

  .content{
    border: 2px solid rgb(245, 171, 75);
    padding: 1rem;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 10px;
  }
}
