.yourbooks_page {
    padding: 1rem;
    margin-top: 4rem;
  
    h1 {
      margin: 1rem 0;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
  
      a {
        display: flex;
        align-items: center;
      }
    }
  
    .title_sec {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      input {
        padding: 0.4rem 1rem;
      }
    }
  
    .table_container {
      overflow-x: auto;
    }
  
    .table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 12px;
  
      thead {
        color: white;
      }
  
      th {
        background-color: rgb(3, 95, 80);
        padding: 0.6rem 0.4rem;
      }
  
      td {
        padding: 0.4rem;
      }
  
      td,
      th {
        border: 1px solid rgb(173, 173, 173);
        text-align: center;
      }
  
      tr:nth-child(even) {
        background-color: rgb(241, 239, 239);
      }
  
      .crud_sec {
        display: flex;
        justify-content: center;
        column-gap: 0.8rem;
  
        a:link:nth-child(1),
        a:visited:nth-child(1) {
          color: rgb(34, 109, 247);
        }
        a:link:nth-child(2),
        a:visited:nth-child(2) {
          color: rgb(228, 187, 6);
        }
        a:link:nth-child(3),
        a:visited:nth-child(3) {
          color: rgb(250, 46, 38);
        }
  
        svg {
          font-size: 1.25rem;
        }
      }
    }
  }
  