.create_book_page {
  padding: 1rem;
  margin-top: 3.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;

  > h1 {
    margin-bottom: 0.5rem;
  }

  .form_container {
    border: 2px solid rgb(245, 171, 75);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    border-radius: 10px;

    input {
      padding: 0.3rem 1rem;
      outline: none;
    }

    > div {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
  }
}
